# ----------------------------------------------------------------------
# データベースの redmine ユーザーのパスワード (変更推奨)
db_passwd_redmine: Must_be_changed!
# ----------------------------------------------------------------------

# Redmineのデプロイ先ディレクトリ
redmine_dir: /srv/redmine

# Database
postgres_database_name: "redmine"
postgres_username: "redmine"
postgres_password: "{{ db_passwd_redmine }}"

redmine_db_host: localhost

mail_smtp_host: localhost
mail_smtp_port: 25
mail_domain: localhost
